{% extends 'base.html' %}
{% block content %}

    {% for cat in cats %}
    <!-- <p>Name: {{ cat.name }}</p>
    <p>Age: {{ cat.age }}</p>
    <p>Breed: {{ cat.breed }}</p>
    <p>Description: {{ cat.description }}</p>
    <hr> -->

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ cat.breed }}</div>
        <div class="card-body">
          <h5 class="card-title">Name: {{ cat.name }}, Age: {{ cat.age }}</h5>
          <p class="card-text">{{ cat.description }}</p>
          <a href="/cats/{{ cat.id }}" class="btn btn-primary">View {{ cat.name }}</a>
        </div>
    </div>

    {% endfor %}

{% endblock %}